<h1 align="center">Welcome to <%= @user.name %>'s Profile </h1>
<br>

<h4 align="center">Events created by <%= @user.name %> </h4>

<% @created_events.each do |event| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="event-title">
          <%= link_to event.title, event_path(event) %>
        </div>
        <div class="event-body mb">
          <%= event.description %>
        </div>
        <% if current_user %>
          <%= link_to 'Attend Event', event_path(event), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<h4 align="center">Past Events Attended by <%= @user.name %> </h4>
<% @past_events.each do |event| %> 
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="event-title">
          <%= link_to event.title, event_path(event) %>
        </div>
        <div class="event-body mb">
          <%= event.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<h4 align="center">Upcoming Events to be Attended by <%= @user.name %> </h4>

<% @upcoming_events.each do |event| %>
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="event-title">
          <%= link_to event.title, event_path(event) %>
        </div>
        <div class="event-body mb">
          <%= event.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>


 