<h1 class= "center text-primary">Create an Event</h1>

<% if @event.errors.any? %>
<h2>The following errors prevented the event from being created</h2>
<ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end%>
</ul>
<% end %>

<div class="row">
  <div class= "col-xs-12">
    <%= form_with(model: @event, local: true) do |f| %>
      <div class= "col-sm-2 col-form-label text-primary">
        <%= f.label :title %>
      </div>
      <div class= "col-sm-9 mb">
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class= "col-sm-2 col-form-label text-primary">
        <%= f.label :description %>
      </div>
      <div class= "col-sm-9 mb">
        <%= f.text_area :description, rows: 10, class: "form-control" %>
      </div>

      <div class= "col-sm-2 col-form-label text-primary">
        <%= f.label :location %>
      </div>
      <div class= "col-sm-9 mb">
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class= "col-sm-2 col-form-label text-primary">
        <%= f.label :date %>
      </div>
      <div class= "col-sm-9 mb">
        <%= f.date_field :date, class: "form-control" %>
      </div>
      <div class= "col-sm-offset-2 col-sm-10">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>