<h1>Create an Event</h1>

<% if @event.errors.any? %>
<h2>The following errors prevented the event from being created</h2>
<ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end%>
</ul>
<% end %>

<%= form_with(model: @event, local: true) do |f| %>
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title %></p>

    <p><%= f.label :description %></p>
    <p><%= f.text_area :description %></p>

    <p><%= f.label :location %></p>
    <p><%= f.text_field :location %></p>

    <p><%= f.label :date %></p>
    <p><%= f.date_field :date %></p>

    <%= f.submit "Create Event" %>
  

<% end %>