<nav class="navbar bg-primary">
<div class="container-fluid">

<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<%= link_to 'P-Events', root_path, class: "navbar-brand", id: "logo" %>
</div>

<!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse" id="alignment-example">

<!-- Links -->
    <ul class="nav navbar-nav">
    <% if logged_in? %>
        <li><%= link_to 'Events', events_path, class: "col-white" %></li>
        <li><%= link_to 'Create Event', new_event_path, class: "col-white" %></li>
        <li class="dropdown">
            <a class="dropdown-toggle col-white" data-toggle="dropdown">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu" role= "menu">
                <li><%= link_to 'New Event', new_event_path, class: "nav-link" %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete, class: "col-white" %></li>
            </ul>
        </li>
    <% else %>
        <li><%= link_to 'Login', login_path, class: "col-white" %></li>
        <li><%= link_to 'Signup', new_user_path, class: "col-white" %></li>
    <% end %>
    </ul>
</div>

</div>
</nav>